.fond-ing{
    /* background-image: url("destock.png"); */
    background: linear-gradient(to right, #5DB9C9, #000000);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: center;
    height: 100vh;
}

.fond-ing .dats-ing{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opctionretlog{
    padding: 20px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1250px;
}

.opctionretlog a{
    text-decoration: none;
    color: black;
}