.fond-ing{
    background-image: url("destock.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fond-ing .dats-ing{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}