.sectionCat{
    background-color: rgba(229, 241, 255, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    height: 280vh;
}

.sectionCat .infoandseding{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}