.procont{
    background-color: #ffffff;
    border-radius: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 60vh;
}

.procont .ipropc{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.procont .cpropct{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}