.login-texts{
    text-align: center;
}

.login-texts-1{
    padding: 10px;
    font-size: 1.3rem;
}

.usernav{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.desc-til{
    margin-right: 20px;
}

.ofert-til{
    margin-right: 20px;
}

.nameUserF{
    font-size: 1.6rem;
}

.directionUserf{
    font-size: 1.4rem;
}

.titlecontF{
    font-size: 1.4rem;
}

.Titulo-Prodjuct-vistz{
    font-size: 1.6rem;
    margin: 10px;
}

.titulo-des-produz{
    font-size: 1.2rem;
    margin: 10px;
}

.titulo-des-produzCo{
    font-size: 1.2rem;
    margin: 10px;
    background: linear-gradient(to right, 
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-title{
    font-size: 1.4rem;
}

.titlesfilt{
    font-size: 1.2rem;
}