.fond-contd{
    background-image: url("image 2.jpg");
    width: 495px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fond-contd img{
    border-radius: 5px;
    width: 330px;
}