.loginp{
    border: 2px solid rgba(143, 79, 79, 1);
    border-radius: 5px;
    width: 390px;
    height: 35px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.searchHom{
    width: 350px;
    height: 35px;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid rgba(143, 79, 79, 1);
}

.input-field{
    width: 60%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    /* box-shadow: 3px 5px 10px 5px coral; */
}
