.desct{
    border: 1px solid rgb(32, 93, 249);
    width: 270px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.desct img{
    width: 100%;
    height: 370px;
}

.desct .vProc{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(55, 125, 255, 1);
    color: black;
}

.desct .acPro{
    visibility: hidden;
}

.desct .elPro{
    visibility: hidden;
}

.desct .vProc:hover{
    opacity: 40%;
}

.desct .dscc{   
    margin: 5px;
}

.desct .dscc h4{
    margin-top: 5px;
    width: 100%;
    height: 27px;
}
/* 
diseño ofertas */

.ofertdc{
    border: 1px solid rgb(249, 32, 32);
    width: 270px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.ofertdc img{
    width: 100%;
    height: 370px;
}

.ofertdc .acPro{
    visibility: hidden;
}

.ofertdc .elPro{
    visibility: hidden;
}


.ofertdc .vProc{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(55, 125, 255, 1);
    color: black;
}

.ofertdc .vProc:hover{
    opacity: 40%;
}

.ofertdc .dscc{   
    margin: 5px;
}

.ofertdc .dscc h4{
    margin-top: 5px;
    width: 100%;
    height: 27px;
}

/* sjsbdakjs */

.cardsPerfDis{
    border: 1px solid rgb(32, 93, 249);
    width: 280px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom:20px;
}

.cardsPerfDis .visUsProd{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardsPerfDis .visUsProd .acPro{
    border:2px solid rgba(45, 202, 140, 1);
    border-radius: 5px;
    
}

.cardsPerfDis .visUsProd .elPro{
    border:2px solid rgb(249, 32, 32);
    border-radius: 5px;
    
}

.cardsPerfDis img{
    width: 100%;
    height: 370px;
}

.cardsPerfDis .vProc{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(55, 125, 255, 1);
    color: black;
}

.cardsPerfDis .vProc:hover{
    opacity: 40%;
}

.cardsPerfDis .dscc{   
    margin: 5px;
}

.cardsPerfDis .dscc h4{
    margin-top: 5px;
    width: 100%;
    height: 27px;
}