.directions{
    background-color: rgba(143, 79, 79, 1);
    border-radius: 5px;
    width: 400px;
    height: 40px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.directions:hover{
    opacity: 40%;
}

.directions-1{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 400px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.iconseachrHome{
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 39px;
    border: none;
    border-bottom: 2px solid rgba(143, 79, 79, 1);
    cursor: pointer;
}

.iconseachrHome:hover{
    background-color: rgb(136, 163, 187);
}

.AgregarProduct{
    background-color: rgba(55, 125, 255, 1);
    color: white;
    font-size: 1.2rem;
    width: 20%;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}

.AgregarProduct:hover{
    opacity: 10%;
    cursor: pointer;
}

.submit-buttonA{
    background-color: rgba(55, 125, 255, 1);
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 25px;
    color: white;
    font-size: 1rem;
    padding: 5px;
}

.submit-buttonA{
    background-color: rgba(55, 125, 255, 1);
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 25px;
    color: white;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}

.submit-buttonA:hover{
    opacity: 10%;
}

.submit-buttonC{
    background-color: rgb(249, 32, 32);
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 25px;
    color: white;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}

.submit-buttonC:hover{
    opacity: 10%;
}